
.border {
  border-style: solid;
  border-width: var(--border-width);
}

.border-top {
  border-top-style: solid;
  border-top-width: var(--border-width);
}

.border-right {
  border-right-style: solid;
  border-right-width: var(--border-width);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
}

.border-left {
  border-left-style: solid;
  border-left-width: var(--border-width);
}

.border-2 {
  border-width: calc(2 * var(--border-width));
}

.rounded { border-radius: var(--border-radius) }
.circle  { border-radius: 50% }

