/* B L K */

@import 'basscss-base-reset';
@import 'basscss-base-typography';
@import 'basscss-color-base';

@import 'basscss-btn';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-utility-layout';
@import 'basscss-white-space';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-borders';
@import 'basscss-colors';
@import 'basscss-background-colors';

@import 'basscss-defaults';

@import './prose';

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: var(--black);
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
}

pre {
  padding: 0 1.5rem;
  border-left: 4px solid var(--darken-1);
}

.caps { letter-spacing: 0.1em }

.sans { font-family: var(--font-family) }
.serif { font-family: var(--serif) }
.compact { font-family: var(--small-font-family) }

.icon {
  position: relative;
  top: 0.125em;
}

.btn:hover {
  box-shadow: inset 0 99999px var(--light-blue);
}

.btn-link:hover {
  text-decoration: underline;
  box-shadow: none;
}

.btn-narrow {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}


.slate { color: var(--slate) }
.brightblue { color: var(--brightblue) }

.bg-slate { background-color: var(--slate) }
.bg-brightblue { background-color: var(--brightblue) }

:root {
  --font-family: 'SF UI Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --heading-font-family: 'SF UI Display', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --small-font-family: 'SF Compact Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --serif: Georgia, serif;
  --bold-font-weight: 500;
  --button-font-size: var(--h5);
  --pre-font-size: 87.5%;

  --body-color: var(--slate);
  --light-blue: color(var(--aqua) a(.0625));

  --blue: #007bbd;
  --red: #ff6200;
  --green: #00a865;
  --slate: #101e23;
  --slate: #172C36;
  --brightblue: #33b8ff;

}


