/* B L K */

@import 'basscss';
/*
@import 'basscss-button-link';
*/

@import 'basscss-defaults';


p {
  font-weight: var(--bold-font-weight);
}

.georgia { font-family: Georgia, serif }

.field-light {
  color: inherit;
}

  .btn,
  .btx {
    text-decoration: none;
  }
  .btn:hover,
  .btx:hover {
    box-shadow: inset 0 0 0 10000px var(--darken-1);
    text-decoration: none;
  }
  .btn:focus,
  .btx:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
  }
  .btn:active,
  .btx:active,
  .btx.is-active {
    box-shadow: inset 0 0 0 20rem var(--darken-2),
      inset 0 3px 4px 0 var(--darken-3),
      0 0 1px var(--darken-2);
  }
  .btn:disabled,
  .btx:disabled,
  .btx.is-disabled {
    opacity: .5;
  }


.button-link {
  padding-left: 0;
  padding-right: 0;
  color: inherit;
  background-color: transparent;
}
.button-link:hover {
  text-decoration: underline;
  box-shadow: none;
}

:root {

  --bold-font-weight: 500;
  --heading-font-weight: 500;
  --button-font-weight: 500;
  --button-font-size: var(--h5);

}


